/* App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.App-header {
  background-color: #282c34;
  padding: 20px;
  width: 100%;
  color: white;
}

.App-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 20px;
}

.App-sidebar {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
}

.map-container {
  flex: 2;
  padding: 20px;
  border: 1px solid #ddd;
}
@media (max-width: 768px) {
  .App-body {
    flex-direction: column;
  }

  .App-sidebar, .App-map {
    width: 100%;
    margin-bottom: 20px;
  }
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button-group button {
  margin-right: 10px;
}